.filters {
}
.layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
.filters {
  display: flex;
  gap: 1rem;
}

@media (max-width: 779px) {
  .layout,
  .layout > * {
    flex-direction: column;
    align-items: stretch;
  }
}
