.search {
  display: grid;
  gap: 1rem;
  align-items: center;
}
.label {
  border: none;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 720px) {
  .search {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .form {
    justify-self: end;
  }
  .input {
    width: auto;
  }
}

.deleteSearch {
  cursor: pointer;
  color: white;
  font-weight: 600;
  /* background-color: #ff5555; */
  background-color: var(--color-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
